In [26]:
import pandas as pd
import sqlite3

In [27]:
batting_db = pd.read_csv('Resources/Batting.csv')
batting_db

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101327,zitoba01,2015,1,OAK,AL,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101328,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,33.0,1.0,1.0,33.0,26.0,2.0,0.0,0.0,3.0,5.0
101329,zobribe01,2015,2,KCA,AL,59,232.0,37.0,66.0,16.0,...,23.0,2.0,3.0,29.0,30.0,1.0,1.0,0.0,2.0,3.0
101330,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
101331,zychto01,2015,1,SEA,AL,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
pitching_db = pd.read_csv('Resources/Pitching.csv')
pitching_db

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,youngch03,2015,1,KCA,AL,11,6,34,18,0,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,0,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,2015,1,OAK,AL,0,0,3,2,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,2015,1,SEA,AL,0,0,13,1,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [29]:
batting_db.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [30]:
pitching_db.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [31]:
pitching_clean = pitching_db[['playerID', 'yearID', 'SO', 'BB','ERA', 'HR']]
pitching_clean

        playerID  yearID   SO  BB    ERA  HR
0      bechtge01    1871    1  11   7.96   0
1      brainas01    1871   13  37   4.50   4
2      fergubo01    1871    0   0  27.00   0
3      fishech01    1871   15  31   4.35   3
4      fleetfr01    1871    0   3  10.00   0
...          ...     ...  ...  ..    ...  ..
44134  youngch03    2015   83  43   3.06  16
44135  zieglbr01    2015   36  17   1.85   3
44136  zimmejo02    2015  164  39   3.66  24
44137   zitoba01    2015    2   6  10.29   4
44138   zychto01    2015   24   3   2.45   1

[44139 rows x 6 columns]

In [45]:
pitcher_career = pitching_clean.groupby('playerID')['yearID'].agg(['first','last'])
pitcher_career

           first  last
playerID
aardsda01   2004  2015
aasedo01    1977  1990
abadfe01    2010  2015
abbeybe01   1892  1896
abbeych01   1896  1896
...          ...   ...
zoldasa01   1944  1952
zuberbi01   1936  1947
zumayjo01   2006  2010
zuverge01   1951  1959
zychto01    2015  2015

[9126 rows x 2 columns]

In [46]:
pitching_final = pitching_clean.merge(pitcher_career, on='playerID')
pitching_final

        playerID  yearID  SO  BB    ERA  HR  first  last
0      bechtge01    1871   1  11   7.96   0   1871  1875
1      bechtge01    1873   0   2   4.50   0   1871  1875
2      bechtge01    1874  13   0   3.86   0   1871  1875
3      bechtge01    1875  12   3   2.25   0   1871  1875
4      bechtge01    1875  12   3   3.93   0   1871  1875
...          ...     ...  ..  ..    ...  ..    ...   ...
44134  winklda01    2015   2   1  10.80   2   2015  2015
44135  wislema01    2015  72  40   4.71  16   2015  2015
44136  wojcias01    2015  16   7   7.16   2   2015  2015
44137  wrighmi01    2015  26  18   6.04   9   2015  2015
44138   zychto01    2015  24   3   2.45   1   2015  2015

[44139 rows x 8 columns]

In [32]:
batting_clean = batting_db[['playerID', 'yearID', 'AB', 'H','SO','HR', '2B', '3B']]
batting_clean

         playerID  yearID     AB     H     SO    HR    2B   3B
0       abercda01    1871    4.0   0.0    0.0   0.0   0.0  0.0
1        addybo01    1871  118.0  32.0    0.0   0.0   6.0  0.0
2       allisar01    1871  137.0  40.0    5.0   0.0   4.0  5.0
3       allisdo01    1871  133.0  44.0    2.0   2.0  10.0  2.0
4       ansonca01    1871  120.0  39.0    1.0   0.0  11.0  3.0
...           ...     ...    ...   ...    ...   ...   ...  ...
101327   zitoba01    2015    0.0   0.0    0.0   0.0   0.0  0.0
101328  zobribe01    2015  235.0  63.0   26.0   6.0  20.0  2.0
101329  zobribe01    2015  232.0  66.0   30.0   7.0  16.0  1.0
101330  zuninmi01    2015  350.0  61.0  132.0  11.0  11.0  0.0
101331   zychto01    2015    0.0   0.0    0.0   0.0   0.0  0.0

[101332 rows x 8 columns]

In [33]:
batting_clean['AVG'] = batting_clean['H'] / batting_clean['AB']
batting_clean['2Bper'] = batting_clean['2B'] / batting_clean['H']
batting_clean['3Bper'] = batting_clean['3B'] / batting_clean['H']
batting_clean['HRper'] = batting_clean['HR'] / batting_clean['H']
batting_clean = batting_clean.fillna(0)
batting_clean['1Bper'] = 1 - (batting_clean['2Bper'] + batting_clean['3Bper'] + batting_clean['HRper'])
batting_clean

C:\Users\austi\AppData\Local\Temp/ipykernel_17620/44568884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batting_clean['AVG'] = batting_clean['H'] / batting_clean['AB']
C:\Users\austi\AppData\Local\Temp/ipykernel_17620/44568884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batting_clean['2Bper'] = batting_clean['2B'] / batting_clean['H']
C:\Users\austi\AppData\Local\Temp/ipykernel_17620/44568884.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batting_clean['3Bper'] = batting_clean['3B'] / batting_clean['H']
C:\Users\austi\AppData\Local\Temp/ipykernel_17620/44568884.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batting_clean['HRper'] = batting_clean['HR'] / batting_clean['H']

,playerID,yearID,AB,H,SO,HR,2B,3B,AVG,2Bper,3Bper,HRper,1Bper
0,abercda01,1871,4.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000
1,addybo01,1871,118.0,32.0,0.0,0.0,6.0,0.0,0.271186,0.187500,0.000000,0.000000,0.812500
2,allisar01,1871,137.0,40.0,5.0,0.0,4.0,5.0,0.291971,0.100000,0.125000,0.000000,0.775000
3,allisdo01,1871,133.0,44.0,2.0,2.0,10.0,2.0,0.330827,0.227273,0.045455,0.045455,0.681818
4,ansonca01,1871,120.0,39.0,1.0,0.0,11.0,3.0,0.325000,0.282051,0.076923,0.000000,0.641026
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101327,zitoba01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000
101328,zobribe01,2015,235.0,63.0,26.0,6.0,20.0,2.0,0.268085,0.317460,0.031746,0.095238,0.555556
101329,zobribe01,2015,232.0,66.0,30.0,7.0,16.0,1.0,0.284483,0.242424,0.015152,0.106061,0.636364
101330,zuninmi01,2015,350.0,61.0,132.0,11.0,11.0,0.0,0.174286,0.180328,0.000000,0.180328,0.639344
101331,zychto01,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000

In [41]:
batter_career = batting_clean.groupby('playerID')['yearID'].agg(['first','last'])
batter_career

           first  last
playerID
aardsda01   2004  2015
aaronha01   1954  1976
aaronto01   1962  1971
aasedo01    1977  1990
abadan01    2001  2006
...          ...   ...
zupofr01    1957  1961
zuvelpa01   1982  1991
zuverge01   1951  1959
zwilldu01   1910  1916
zychto01    2015  2015

[18659 rows x 2 columns]

In [42]:
batting_cleaner = batting_clean.merge(batter_career, on='playerID')
batting_cleaner

,playerID,yearID,AB,H,SO,HR,2B,3B,AVG,2Bper,3Bper,HRper,1Bper,first,last
0,abercda01,1871,4.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,1871,1871
1,addybo01,1871,118.0,32.0,0.0,0.0,6.0,0.0,0.271186,0.187500,0.000000,0.000000,0.812500,1871,1877
2,addybo01,1873,51.0,16.0,0.0,0.0,1.0,0.0,0.313725,0.062500,0.000000,0.000000,0.937500,1871,1877
3,addybo01,1873,152.0,54.0,0.0,1.0,5.0,2.0,0.355263,0.092593,0.037037,0.018519,0.851852,1871,1877
4,addybo01,1874,213.0,51.0,0.0,0.0,9.0,2.0,0.239437,0.176471,0.039216,0.000000,0.784314,1871,1877
5,addybo01,1875,310.0,80.0,2.0,0.0,8.0,4.0,0.258065,0.100000,0.050000,0.000000,0.850000,1871,1877
6,addybo01,1876,142.0,40.0,0.0,0.0,4.0,1.0,0.281690,0.100000,0.025000,0.000000,0.875000,1871,1877
7,addybo01,1877,245.0,68.0,5.0,0.0,2.0,3.0,0.277551,0.029412,0.044118,0.000000,0.926471,1871,1877
8,allisar01,1871,137.0,40.0,5.0,0.0,4.0,5.0,0.291971,0.100000,0.125000,0.000000,0.775000,1871,1876
9,allisar01,1872,87.0,23.0,2.0,0.0,4.0,0.0,0.264368,0.173913,0.000000,0.000000,0.826087,1871,1876
10,allisar01,1873,99.0,32.0,0.0,0.0,2.0,0.0,0.323232,0.062500,0.000000,0.000000,0.937500,1871,1876
11,allisar01,1875,112.0,24.0,2.0,0.0,3.0,1.0,0.214286,0.125000,0.041667,0.000000,0.833333,1871,1876
12,allisar01,1875,175.0,42.0,3.0,1.0,4.0,1.0,0.240000,0.095238,0.023810,0.023810,0.857143,1871,1876
13,allisar01,1876,130.0,27.0,6.0,0.0,2.0,1.0,0.207692,0.074074,0.037037,0.000000,0.888889,1871,1876
14,allisdo01,1871,133.0,44.0,2.0,2.0,10.0,2.0,0.330827,0.227273,0.045455,0.045455,0.681818,1871,1883
15,allisdo01,1872,115.0,35.0,3.0,0.0,4.0,2.0,0.304348,0.114286,0.057143,0.000000,0.828571,1871,1883
16,allisdo01,1872,79.0,27.0,2.0,0.0,2.0,1.0,0.341772,0.074074,0.037037,0.000000,0.888889,1871,1883
17,allisdo01,1873,83.0,24.0,0.0,0.0,5.0,0.0,0.289157,0.208333,0.000000,0.000000,0.791667,1871,1883
18,allisdo01,1873,48.0,10.0,0.0,0.0,0.0,0.0,0.208333,0.000000,0.000000,0.000000,1.000000,1871,1883
19,allisdo01,1874,318.0,90.0,5.0,0.0,7.0,5.0,0.283019,0.077778,0.055556,0.000000,0.866667,1871,1883
20,allisdo01,1875,269.0,67.0,3.0,0.0,7.0,0.0,0.249071,0.104478,0.000000,0.000000,0.895522,1871,1883
21,allisdo01,1876,163.0,43.0,9.0,0.0,4.0,0.0,0.263804,0.093023,0.000000,0.000000,0.906977,1871,1883
22,allisdo01,1877,115.0,17.0,7.0,0.0,2.0,0.0,0.147826,0.117647,0.000000,0.000000,0.882353,1871,1883
23,allisdo01,1878,76.0,22.0,8.0,0.0,2.0,0.0,0.289474,0.090909,0.000000,0.000000,0.909091,1871,1883
24,allisdo01,1879,5.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,1871,1883
25,allisdo01,1883,3.0,2.0,0.0,0.0,0.0,0.0,0.666667,0.000000,0.000000,0.000000,1.000000,1871,1883
26,ansonca01,1871,120.0,39.0,1.0,0.0,11.0,3.0,0.325000,0.282051,0.076923,0.000000,0.641026,1871,1897
27,ansonca01,1872,217.0,90.0,3.0,0.0,10.0,7.0,0.414747,0.111111,0.077778,0.000000,0.811111,1871,1897
28,ansonca01,1873,254.0,101.0,1.0,0.0,9.0,2.0,0.397638,0.089109,0.019802,0.000000,0.891089,1871,1897
29,ansonca01,1874,259.0,87.0,1.0,0.0,8.0,3.0,0.335907,0.091954,0.034483,0.000000,0.873563,1871,1897
30,ansonca01,1875,326.0,106.0,2.0,0.0,15.0,3.0,0.325153,0.141509,0.028302,0.000000,0.830189,1871,1897
31,ansonca01,1876,309.0,110.0,8.0,2.0,9.0,7.0,0.355987,0.081818,0.063636,0.018182,0.836364,1871,1897
32,ansonca01,1877,255.0,86.0,3.0,0.0,19.0,1.0,0.337255,0.220930,0.011628,0.000000,0.767442,1871,1897
33,ansonca01,1878,261.0,89.0,1.0,0.0,12.0,2.0,0.340996,0.134831,0.022472,0.000000,0.842697,1871,1897
34,ansonca01,1879,227.0,72.0,2.0,0.0,20.0,1.0,0.317181,0.277778,0.013889,0.000000,0.708333,1871,1897
35,ansonca01,1880,356.0,120.0,12.0,1.0,24.0,1.0,0.337079,0.200000,0.008333,0.008333,0.783333,1871,1897
36,ansonca01,1881,343.0,137.0,4.0,1.0,21.0,7.0,0.399417,0.153285,0.051095,0.007299,0.788321,1871,1897
37,ansonca01,1882,348.0,126.0,7.0,1.0,29.0,8.0,0.362069,0.230159,0.063492,0.007937,0.698413,1871,1897
38,ansonca01,1883,413.0,127.0,9.0,0.0,36.0,5.0,0.307506,0.283465,0.039370,0.000000,0.677165,1871,1897
39,ansonca01,1884,475.0,159.0,13.0,21.0,30.0,3.0,0.334737,0.188679,0.018868,0.132075,0.660377,1871,1897
40,ansonca01,1885,464.0,144.0,13.0,7.0,35.0,7.0,0.310345,0.243056,0.048611,0.048611,0.659722,1871,1897
41,ansonca01,1886,504.0,187.0,19.0,10.0,35.0,11.0,0.371032,0.187166,0.058824,0.053476,0.700535,1871,1897
42,ansonca01,1887,472.0,164.0,18.0,7.0,33.0,13.0,0.347458,0.201220,0.079268,0.042683,0.676829,1871,1897
43,ansonca01,1888,515.0,177.0,24.0,12.0,20.0,12.0,0.343689,0.112994,0.067797,0.067797,0.751412,1871,1897
44,ansonca01,1889,518.0,161.0,19.0,7.0,32.0,7.0,0.310811,0.198758,0.043478,0.043478,0.714286,1871,1897
45,ansonca01,1890,504.0,157.0,23.0,7.0,14.0,5.0,0.311508,0.089172,0.031847,0.044586,0.834395,1871,1897
46,ansonca01,1891,540.0,157.0,29.0,8.0,24.0,8.0,0.290741,0.152866,0.050955,0.050955,0.745223,1871,1897
47,ansonca01,1892,559.0,152.0,30.0,1.0,25.0,9.0,0.271914,0.164474,0.059211,0.006579,0.769737,1871,1897
48,ansonca01,1893,398.0,125.0,12.0,0.0,24.0,2.0,0.314070,0.192000,0.016000,0.000000,0.792000,1871,1897
49,ansonca01,1894,340.0,132.0,15.0,5.0,28.0,4.0,0.388235,0.212121,0.030303,0.037879,0.719697,1871,1897

In [44]:
batting_final = batting_cleaner[['playerID', 'SO', 'HR', 'AVG', '1Bper', '2Bper', '3Bper', 'HRper', 'first', 'last']]
batting_final

,playerID,SO,HR,AVG,1Bper,2Bper,3Bper,HRper,first,last
0,abercda01,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,1871,1871
1,addybo01,0.0,0.0,0.271186,0.812500,0.187500,0.000000,0.000000,1871,1877
2,addybo01,0.0,0.0,0.313725,0.937500,0.062500,0.000000,0.000000,1871,1877
3,addybo01,0.0,1.0,0.355263,0.851852,0.092593,0.037037,0.018519,1871,1877
4,addybo01,0.0,0.0,0.239437,0.784314,0.176471,0.039216,0.000000,1871,1877
...,...,...,...,...,...,...,...,...,...,...
101327,winklda01,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,2015,2015
101328,wislema01,6.0,0.0,0.137931,1.000000,0.000000,0.000000,0.000000,2015,2015
101329,wojcias01,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,2015,2015
101330,wrighmi01,1.0,0.0,0.500000,1.000000,0.000000,0.000000,0.000000,2015,2015
101331,zychto01,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,2015,2015

In [36]:
database = "Baseball.sqlite"
conn = sqlite3.connect(database)
pitching_final.to_sql(name='Pitching', if_exists='replace', index='False', con=conn)
batting_final.to_sql(name='Batting', if_exists='replace', index='False', con=conn)
conn.close()